*{
  padding:0;
  margin:0;
}

body{
  box-sizing: border-box;
  background: #eceae7;

}


.inner-div{
/* border: solid 2px black; */
background: white;
height: 700px;
width:80%;
margin:auto;
}

.nav{
  background: #3a3939;
  height: 45px;
  margin-top:30px;

}

.inner-nav{
  height: 45px;
  background: #f7f7f7;

}
a{
  color:white;
  text-decoration: none;
  padding-left:5%;
  margin: 1%;
  text-decoration: none;
}
ul{
  display: flex;
  color: white;
  list-style: none;
}

a::selection{
  background:  #4d6ea5;

}

.mainimg-sec{
  display: flex;
}
